@model IEnumerable<BookList>
@{
    ViewData["Title"] = "Index";
}

<h1>New York Times Best Seller Lists</h1><br />
<label for="search">Search terms - for Author begin with the word author, or enter ISBN or title.</label><br />
<input type="text" id="search" /><button class="btn btn-outline-primary" onclick="searchBook();"><i class="bi bi-search"></i></button><br />
<div class="container text-center">
    <div class="row">
        <div class="col-4 d-grid gap-2">
            @foreach (BookList list in Model)
            {
                <button type="button" class="btn btn-primary" onclick="loadList('@list.list_name_encoded','@list.display_name');">@list.display_name</button>
            }
        </div>
        <div class="col-8" >
            <h2 id="listName"></h2>
            <form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Cover</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Click to rate</th>
                        </tr>
                    </thead>
                    <tbody id ="bookListTable">

                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function loadList(listName, displayName) 
        {
            //TODO Change to use GetBooks action so api key stays serverside
            $("#listName").text(displayName);
            $("#bookListTable").empty();
            $.ajax({ url: "https://api.nytimes.com/svc/books/v3/lists/current/" + listName + ".json?api-key=ZnKshfRonaC0A3biKUAi3cYhYI0XdZDY" }).done((data) => {
                data.results.books.forEach((book) => {

                    let coverCell = document.createElement('td');
                    coverCell.setAttribute("class", "col-2");
                    let cover = document.createElement('img');
                    cover.setAttribute('src', book.book_image);
                    cover.setAttribute('class', 'img-fluid img-thumbnail');
                    coverCell.append(cover);

                    let titleCell = document.createElement('td');
                    titleCell.setAttribute("class", "col-3");
                    titleCell.innerText = book.title;

                    let authorCell = document.createElement('td');
                    authorCell.setAttribute("class", "col-3");
                    authorCell.innerText = book.author;

                    let ratingCell = document.createElement('td');
                    ratingCell.setAttribute("class", "col-4");
                    for (let i = 0; i < 5; i++) {
                        let star = document.createElement('i');
                        star.setAttribute('class', 'bi bi-star');
                        star.setAttribute("onClick", "submitBook('" + 
                            book.primary_isbn13 + "','" + 
                            book.author + "','" + 
                            book.title + "','" + 
                            book.publisher + "','" + 
                            book.description + "','" + 
                            book.price + "','" + 
                            book.book_image + "'," + 
                            (i + 1) + ");");

                        ratingCell.append(star);
                    }
                    let noRating = document.createElement("a");
                    noRating.setAttribute("onClick", "submitBook('" + 
                        book.primary_isbn13 + "','" + 
                        book.author + "','" + 
                        book.title + "','" + 
                        book.publisher + "','" + 
                        book.description + "','" +
                        book.price + "','" + 
                        book.book_image + 
                        "',0);");

                    noRating.innerText = "Add to favourites without rating";
                    ratingCell.append(document.createElement("br"), noRating);

                    let row = document.createElement('tr');
                    row.append(coverCell, titleCell, authorCell, ratingCell);
                    $("#bookListTable").append(row);
                });
                $(".bi-star").on('mouseover', (e) => {
                    e.target.setAttribute('class', 'bi bi-star-fill');
                });
                $(".bi-star").on('mouseout', (e) => {
                    e.target.setAttribute('class', 'bi bi-star');
                });
            });
        }

        function submitBook(ISBN, author, title, publisher, description, price, imgUrl, rating) 
        {
            const book=
            {
                ISBN:ISBN,
                author:author,
                title:title,
                publisher:publisher,
                description:description,
                price:price,
                imgUrl:imgUrl,
                rating:rating
            };
            
            $.ajax({
                url: "/Book/AddToFavourites",
                method: 'POST',
                dataType: 'json',
                success: (res) => {
                    if(res.statusCode==200)
                    {
                        alert(res.value);
                    }
                    else
                    {
                        alert("That book has already been added to your favourites");
                        console.log(res);
                    }
                    //to do - add feedback
                },
                data: book
            });
        }

        function searchBook() {
            const term =
            {
                term:$("#search").val()
            };

            $.ajax({
                url: "/BookList/Search",
                method: 'POST',
                dataType: 'json',
                success: (res) => {
                    if(res.length>0)
                    {
                        showBooks(res);
                    }
                    else
                    {
                        alert("No books found");
                    }
                    //to do - add feedback
                },
                data: term
            });
        }

        function showBooks(books) 
        {

            $("#bookListTable").empty();
            books.forEach(book => {

            let coverCell = document.createElement('td');
            coverCell.setAttribute("class", "col-2");

            let titleCell = document.createElement('td');
            titleCell.setAttribute("class", "col-3");
            titleCell.innerText = book.book_title;

            let authorCell = document.createElement('td');
            authorCell.setAttribute("class", "col-3");
            authorCell.innerText = book.book_author;

            let ratingCell = document.createElement('td');
            ratingCell.setAttribute("class", "col-4");

            const space=' ';
            for (let i = 0; i < 5; i++) {
                let star = document.createElement('i');
                star.setAttribute('class', 'bi bi-star');
                star.setAttribute("onClick", "submitBook('" +
                    book.isbn13[0] + "','" +
                    book.book_author + "','" +
                    book.book_title + "','" +
                    space + "','" +
                    space + "','" +
                    space + "','" +
                    space + "'," +
                    (i + 1) + ");");

                ratingCell.append(star);
            }
            let noRating = document.createElement("a");
                noRating.setAttribute("onClick", "submitBook('" +
                    book.isbn13[0] + "','" +
                    book.book_author + "','" +
                    book.book_title + "','" +
                    space + "','" +
                    space + "','" +
                    space + "','" +
                    space + "'," +
                    0 + ");");

            noRating.innerText = "Add to favourites without rating";
            ratingCell.append(document.createElement("br"), noRating);

            let row = document.createElement('tr');
            row.append(coverCell, titleCell, authorCell, ratingCell);
            $("#bookListTable").append(row);
        });
        $(".bi-star").on('mouseover', (e) => {
            e.target.setAttribute('class', 'bi bi-star-fill');
        });
        $(".bi-star").on('mouseout', (e) => {
            e.target.setAttribute('class', 'bi bi-star');
        });

        }
    </script>
}