@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Index";
}

<h1>New York Times Best Seller Lists</h1><br />
<div class="container text-center">
    <div class="row">
        <div class="col-3 d-grid gap-2" id="pageNav">
            <div class="input-group">
                <div>
                    <label class="small" for="search">Search terms - for Author begin with the word author, or enter ISBN or title.</label>
                    <div class="row">
                        <div class="col-2 col-sm-10"><input class="form-control" type="search" id="search" placeholder="Author Terry Pratchett" /></div>
                        <div class="col-2 col-sm-2"><button class="btn btn-primary" onclick="searchBook();"><i class="bi bi-search"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9" >
            <h2 id="listName"></h2>
            <form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Cover</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Click to rate</th>
                        </tr>
                    </thead>
                    <tbody id="bookListTable" class="table-hover">

                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(()=>{
            $.ajax({
                url:"http://localhost:@Configuration["PortOfApi"]/GetLists",
                method:"GET",                
                success:(result)=>{
                    result.value.forEach(list =>{
                        let button=document.createElement("button");
                        button.classList.add("btn");
                        button.classList.add("btn-primary");
                        button.setAttribute("onclick",`loadList('${list.list_name_encoded}','${list.display_name}')`);
                        button.innerText=list.display_name;
                        $("#pageNav").append(button);
                    });
                }
            });
        });

        function loadList(listName, displayName) 
        {
            $("#listName").text(displayName);
            $("#bookListTable").empty();
            $.ajax({
                url: "http://localhost:@Configuration["PortOfApi"]/GetBooksList", 
                method: 'GET', 
                error: (xhr, res, err) => {
                    console.log(res+": "+err);
                },
                data:{list:listName }
            }).done((data) => {
                data.forEach((book) => {
                    book.title = book.title.replace(/'/g, `\\'`);
                    book.publisher = book.publisher.replace(`'`, `\\'`);
                    book.description = book.description.replace(/'/g, `\\'`);
                    book.price = book.price.replace(`'`, `\\'`);

                    let coverCell = document.createElement('td');
                    coverCell.setAttribute("class", "col-2");
                    let cover = document.createElement('img');
                    cover.setAttribute('src', book.book_image);
                    cover.setAttribute('class', 'img-fluid img-thumbnail');
                    coverCell.append(cover);

                    let titleCell = document.createElement('td');
                    titleCell.setAttribute("class", "col-3");
                    titleCell.innerText = book.title;

                    let authorCell = document.createElement('td');
                    authorCell.setAttribute("class", "col-3");
                    authorCell.innerText = book.author;

                    let ratingCell = document.createElement('td');
                    ratingCell.setAttribute("class", "col-4");
                    for (let i = 0; i < 5; i++) {
                        let star = document.createElement('i');
                        star.setAttribute('class', 'bi bi-star');
                        star.setAttribute("onClick", "submitBook('" +
                            book.primary_isbn13 + "','" +
                            book.author + "','" +
                            book.title + "','" +
                            book.publisher + "','" +
                            book.description + "','" +
                            book.price + "','" +
                            book.book_image +
                            "',"+(i+1)+");");
                        ratingCell.append(star);
                    }
                    let noRating = document.createElement("a");
                    noRating.setAttribute("onClick", "submitBook('" + 
                        book.primary_isbn13 + "','" + 
                        book.author + "','" + 
                        book.title + "','" + 
                        book.publisher + "','" + 
                        book.description + "','" +
                        book.price + "','" + 
                        book.book_image + 
                        "',0);");

                    noRating.innerText = "Add to favourites without rating";
                    ratingCell.append(document.createElement("br"), noRating);

                    let row = document.createElement('tr');
                    row.setAttribute("onclick", "$(this).next().slideToggle(0);");
                    row.style.cursor="pointer";
                    row.append(coverCell, titleCell, authorCell, ratingCell);
                    $("#bookListTable").append(row);

                    let descriptionRow=document.createElement('tr');
                    descriptionRow.setAttribute("class","description");
                    let descriptionCell=document.createElement('td');
                    descriptionCell.innerText=book.description;
                    descriptionCell.setAttribute("colspan","4");
                    descriptionRow.append(descriptionCell);
                    $("#bookListTable").append(descriptionRow);
                });
                $(".bi-star").on('mouseover', (e) => {
                    e.target.setAttribute('class', 'bi bi-star-fill');
                    $(e.target).prevAll().removeClass("bi-star");
                    $(e.target).prevAll().addClass("bi-star-fill");
                });
                $(".bi-star").on('mouseout', (e) => {
                    e.target.setAttribute('class', 'bi bi-star');
                    $(e.target).prevAll().removeClass("bi-star-fill");
                    $(e.target).prevAll().addClass("bi-star");
                });
                $(".description").slideUp(0);
            });
        }

        function submitBook(ISBN, author, title, publisher, description, price, imgUrl, rating) 
        {
            const book=
            {
                ISBN:ISBN,
                author:author,
                title:title,
                publisher:publisher,
                description:description,
                price:price,
                imgUrl:imgUrl,
                rating:rating
            };
            
            $.ajax({
                url: "http://localhost:@Configuration["PortOfApi"]/AddToFavourites",
                method: 'GET',
                dataType: 'json',
                success: (res,status,xhr) => {
                    console.log(xhr.status+": "+res);
                    alert(res);
                    //TO DO - add feedback
                },
                data: book
            });
        }

        function searchBook() {
            const term =
            {
                term:$("#search").val()
            };

            $.ajax({
                url: "http://localhost:@Configuration["PortOfApi"]/Search",
                method: 'GET',
                dataType: 'json',
                success: (res) => {
                    if(res.length>0)
                    {
                        showBooks(res);
                    }
                    else
                    {
                        alert("No books found");
                    }
                    //to do - add feedback
                },
                data: term
            });
        }

        function showBooks(books) 
        {
            console.log(books);
            $("#listName").text("New York Times Book Reviews")
            $("#bookListTable").empty();
            if(books == "No results found")
            {
                let cell = document.createElement("td");
                cell.innerText = "No Book Reviews Found with specified term";
                cell.setAttribute("colspan","4");
                let row = document.createElement("tr");
                row.append(cell);
                $("#bookListTable").append(row);
            }
            else
            {
                books.forEach(book => {

                    let coverCell = document.createElement('td');
                    coverCell.setAttribute("class", "col-2");

                    let titleCell = document.createElement('td');
                    titleCell.setAttribute("class", "col-3");
                    titleCell.innerText = book.book_title;

                    let authorCell = document.createElement('td');
                    authorCell.setAttribute("class", "col-3");
                    authorCell.innerText = book.book_author;

                    let ratingCell = document.createElement('td');
                    ratingCell.setAttribute("class", "col-4");

            

                    const space=' ';
                    for (let i = 0; i < 5; i++) {
                        let star = document.createElement('i');
                        star.setAttribute('class', 'bi bi-star');
                        star.setAttribute("onClick", "submitBook('" +
                            book.isbn13[0] + "','" +
                            book.book_author + "','" +
                            book.book_title + "','" +
                            space + "','" +
                            space + "','" +
                            space + "','" +
                            space + "'," +
                            (i + 1) + ");");

                        ratingCell.append(star);
                    }
                    let noRating = document.createElement("a");
                    noRating.setAttribute("onClick", "submitBook('" +
                        book.isbn13[0] + "','" +
                        book.book_author + "','" +
                        book.book_title + "','" +
                        space + "','" +
                        space + "','" +
                        space + "','" +
                        space + "'," +
                        0 + ");");

                    noRating.innerText = "Add to favourites without rating";
                    ratingCell.append(document.createElement("br"), noRating);

                    let row = document.createElement('tr');
                    row.append(coverCell, titleCell, authorCell, ratingCell);
                    $("#bookListTable").append(row);
                });

                $(".bi-star").on('mouseover', (e) => {
                    e.target.setAttribute('class', 'bi bi-star-fill');
                });

                $(".bi-star").on('mouseout', (e) => {
                    e.target.setAttribute('class', 'bi bi-star');
                });
            }
        }
    </script>
}